* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
}

header {
  background-image: url("images/preschool.jpg");
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
  overflow-x: hidden;
}

.search-area {
  background-color: rgba(192, 195, 202, 0.7);
}

#ways {
  font-family: "Roboto", sans-serif;
}
